@model List<BlogApplication.Context.Comment>
@{
    ViewBag.Title = "CommentDisplay";
}

<style>
    .btn{
        margin-top : 5px;
    }
</style>

<h2>Comments @*for Post ID: @ViewBag.PostId*@ </h2>

<div class="container">
    <div class="format">
        @foreach (var item in Model)
        {
            <div>
                <div class="title">
                    <strong>@item.Author</strong>
                </div>
                <div class="body">
                    @item.Content
                </div>
                <div>
                    @item.CreatedDate
                </div>
            </div>
        }
        <div class="btn">
            <a href="@Url.Action("Comment", "Home", new { postId = ViewBag.PostId })" class="btn btn-primary">Add Comment</a>
        </div>
    </div>
</div>
